$mid-gray: rgba(0,0,0,.54);
$darker-gray: rgba(0,0,0,.84);

.main-content {
  width: 100%;
}

// Topic Links Subheader

.feed-subheader-list-container {
  color: $mid-gray;
  font-size: 13px;
  max-width: 1032px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;
}

.feed-subheader-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: hidden; 
}

.subheader-home {
  color: $darker-gray;
  font-weight: bold;
}

.subheader-link {
  margin-left: 26px;
}


// Featured Essays Index

.featured-essays-container {
  max-width: 1208px;
  height: 395px;
}

.featured-essays-list-wide {
  width: 100%;
  max-width: 1208px;
  height: 350px;
  margin-top: 12px auto;
  padding: 0 16px 16px 16px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}

.feat-container img {
  max-width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 16px;
}

// Leftmost feature

.first-feature {
  flex-basis: 340px;
  height: 100%;
  margin-right: 24px;
}

.first-feature .feat-container {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.first-feature .feat-info {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.first-feature .feat-head {
  max-height: 135px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 16px;
}

.first-feature .feat-title {
  max-height: 84px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Open Sans', sans-serif;
  font-size: 18.5px;
  font-weight: 800;
  color: $darker-gray;
  line-height: 28px;
  margin-bottom: 4px;
  letter-spacing: -.42px;
}

.first-feature .feat-summary {
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  font-size: 13.5px;
  color: $mid-gray;
}

.first-feature .feat-sub-info {
  margin-top: 12px;
  font-size: 12.5px;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 auto;
}

.first-feature .feat-auth {
  color: $darker-gray;
}

.first-feature .feat-date {
  color: $mid-gray;
  font-weight: 400;
}


// Center feature list

.featured-mini-list {
  width: 389px;
  height: 100%;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.featured-mini-list li {
  margin-bottom: 24px;
  width: 100%;
}

.mini-link-container {
  width: 100%;
  line-height: 20px;
  display: flex;
  flex-direction: row;
}

.featured-mini-list li:last-child {
  margin-bottom: 0px;
}

.mini-link-container img {
  height: 100px;
  width: 100px;
  margin-right: 24px;
  object-fit: cover;
}

.minilink-essay-info {
  width: 265px;
  min-width: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.minilink-title {
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 14.5px;
  letter-spacing: -.17px;
  color: $darker-gray;
  margin-bottom: 4px;
}

.minilink-sub-info {
  line-height: 20px;
  margin-top: 12px;
  font-size: 12.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: flex-start;
}

.minilink-sub-info .feat-date {
  color: $mid-gray;
  font-weight: 400;
}

// Rightmost feature

.second-feature {
  max-width: 323px;
  flex-basis: auto;
  height: 100%;
}

.second-feature .feat-container {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.second-feature .feat-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.second-feature .feat-head {
  max-height: 75px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 16px;
}

.second-feature .feat-title {
  max-height: 84px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Open Sans', sans-serif;
  font-size: 17.5px;
  font-weight: 800;
  color: $darker-gray;
  line-height: 28px;
  margin-bottom: 4px;
  letter-spacing: -.42px;
}

.second-feature .feat-summary {
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  font-size: 13.5px;
  color: $mid-gray;
}

.second-feature .feat-sub-info {
  margin-top: 12px;
  font-size: 12.5px;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 auto;
}

.second-feature .feat-auth {
  color: $darker-gray;
}

.second-feature .feat-date {
  color: $mid-gray;
  font-weight: 400;
}


// Lower edge of Featured container

#all-featured-link {
  max-width: 1032px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 auto;
  line-height: 20px;
  font-size: 13.5px;
  font-weight: 400px;
  color: #03a87c;
  letter-spacing: .03em;
}

#feature-end-padding {
  max-width: 900;
  border-bottom: 1px solid rgba(0,0,0,.15);
  margin: 24px auto;
  line-height: 1.4px;
  margin-right: 20px;
  margin-left: 20px
}


// Feed Lower/Bottom Content div

.feed-lower-content {
  padding: 16px;
  min-height: 100vh;
  max-width: 1032px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


// Feed Scroll Container

.feed-scroll-container {
  max-width: 680px;
  width: 100%;
  padding-right: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.feed-scroll-list .scroll-item {
  max-width: 680px;
  width: 100%;
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.scroll-item-info {
  min-width: 0px;
  flex: 1 1 auto;
  margin-right: 24px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.scroll-item-msg {
  font-size: 12.5px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: .03em;
  color: $mid-gray;
}

.scroll-item-title {
  max-height: 84px;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 800;
  font-size: 18.5px;
  color: $darker-gray;
  letter-spacing: -.52px;
}

.scroll-item-summary {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 40px;
  font-weight: 400;
  line-height: 20px;
  font-size: 13.5px;
  color: $mid-gray;
  margin-top: 2px;
}

.scroll-item-sub-container {
  min-width: 0px;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scroll-item-sub-info {
  margin-top: 12px;
  font-size: 12.5px;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 auto;
}

.scroll-item-auth {
  color: $darker-gray;
}

.scroll-item-date {
  color: $mid-gray;
  font-weight: 400;
}

.icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}

.icon-div:last-of-type {
  margin-left: 4px;
}

.icon-div button {
  width: 25px;
  height: 25px;
  color: $mid-gray;
  align-self: center;
  white-space: normal;
}

.scroll-item-img {
  width: 152px;
  min-width: 152px;
  max-height: 100%;
  object-fit: cover;
  float: right;
}


// Feed Sidebar

.feed-sidebar-container {
  max-width: 328px;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // flex: 0 0 auto;
  // position: fixed;
  // bottom: 0;
  // right: 0;
}

// .fixed-position-div {
//   width: 100%;
//   height: inherit;
//   position: fixed;
//   bottom: 0;
//   left: 0;
// }

.feed-sidebar {
  width: 100%;
  flex: 1 0 auto;
}

.recent-essays {
  margin-bottom: 40px;
  width: 100%;
  line-height: 20px;
}

.recent-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 8px;
  background-color: #D7EFEE;
  min-height: 100px;
  width: 100%;
  box-sizing: border-box;
}

.recent-header-text {
  font-weight: 400px;
  line-height: 28px;
  font-size: 20px;
  letter-spacing: -.22px;
  color: $darker-gray;
  padding-right: 24px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 0px;
}

.recent-header img {
  width: 135px;
}

.recents-list {
  background-color: #fafafa;
  padding: 32px;
  list-style: none;
  margin-top: 0px;
}

.recents-list li {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  justify-content: flex-start;
  align-items: flex-start;
}

.recent-item-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.recent-item-info {
  min-width: 200px;
  margin-left: 16px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  text-align: left; 
  justify-content: flex-start;
}

.recent-item-title {
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: $darker-gray;
  line-height: 20px;
  margin-bottom: 4px;
  letter-spacing: -.52px;
}

.recent-item-sub-info {
  font-size: 12.5px;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 auto;
}

.recent-item-auth {
  color: $darker-gray;
}

.recent-item-date {
  color: $mid-gray;
  font-weight: 400;
}

// .popular-essays {

// }

.feed-sidebar-footer {
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  margin-top: 30px;
  margin-left: 24px;
  width: 100%;
  flex-shrink: 0;
}

.feed-footer-text {
  border-top: 1px solid rgba(0,0,0,.05);
  padding-top: 10px;
  padding-bottom: 25px;
  // position: fixed;
  // bottom: 0;
}

.feed-footer-text ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.feed-footer-text ul li {
  font-size: 13px;
  line-height: 20px;
  color: $mid-gray;
  font-weight: 400px;
  margin-right: 16px;
  margin-bottom: 2px;
  flex: 0 0 auto;
}

.feed-footer-text ul li:hover {
  text-decoration: underline;
}

.empty-essay-img {
  background-color: rgb(241, 199, 231);
  border-radius: 50%;
  height: 40px;
  width: 40px;
}