// @font-face {
//    font-family: 'KievitOTLight';
//    src:font-url('KievitOTLight.otf');
// }

header {
    width: 100%;
    max-width: 1032px;
    height: 65px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 13.5px;
    margin: 0 49px auto;
    margin-left: auto;
    margin-right: auto;
}

.wordmark {
    font-family: 'DM Serif Display', serif;
    font-weight: bolder;
    font-size: 30px;
}

#nav-search-button {
    height: 25px;
    width: 25px;
    color: rgba(0,0,0,.54);
    margin-right: 16px;
}

#nav-search-button:hover {
    color: rgba(0,0,0,.90);
}


// Logged-out user navigation bar

.external-heaver-nav {
    float: right;
}

.nav-about-button {
    color: rgba(0,0,0,.54);
    margin-right: 16px;
}

.nav-about-button:hover {
    color: rgba(0,0,0,.90);
}

.sign-in-button {
    color: #03a87c;
    margin-right: 16px;
}

.sign-in-button:hover {
    color: rgb(8, 134, 101);
}

.get-started-button {
    height: 37px;
    border: 1px solid rgba(0,0,0,0.15);
    padding: 0 16px;
    border-radius: 4px;
    color: #03a87c;
    border-color: #03a87c;
}

.get-started-button:hover {
    color: rgb(8, 134, 101);
    border-color: rgb(8, 134, 101);
}


// Logged-in user navigation bar

.internal-heaver-nav {
    float: right;
}

.nav-item {
    margin-right: 16px;
    color: rgba(0,0,0,.54);
}

.nav-item:hover {
    color: rgba(0,0,0,.90);
}

#nav-notifications-button {
    height: 25px;
    width: 25px;
}

#nav-logout-button {
    height: 32px;
    font-size: 13px;
    padding: 0 14px;
    border: 1px solid rgba(0,0,0,.54);
    border-radius: 4px;
    color: rgba(0,0,0,.84);
}

#nav-logout-button:hover {
    color: rgba(0,0,0,.90);
    border-color: rgba(0,0,0,.90);
}

.nav-username {
    color: #03a87c;
}

.nav-username:hover {
    color: rgb(8, 134, 101);
}