
//  User Profile

.user-profile-outer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.user-profile-container {
  max-width: 728px;
  width: 100%;
  margin: 0 auto;
  padding-right: 24px;
  padding-left: 24px;
  
}