$mid-gray: rgba(0,0,0,.54);
$darker-gray: rgba(0,0,0,.84);
$light-green: #03a87c;
$darker-green: rgb(8, 134, 101);
$lightest-gray: rgba(0, 0, 0, 0.1);


// User Essay Index Top and Header

.user-essay-index {
  width: 100%;
  min-height: 100vh;  
}

.user-index-topblank {
  margin-bottom: 50px;
  color: (0,0,0,.9);
  height: 15px; 
  width: 100vw;
  display: block;
  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.05) inset;
}

.user-index-main {
  max-width: 1080px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 64px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
}

// Header

.user-index-header {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-index-title {
  padding-bottom: 20px;
}

.user-index-title h1 {
  letter-spacing: -2.75px;
  font-size: 37.5px;
  line-height: 48px;
  font-weight: 600;
  color: rgba(0,0,0,.9)
}

.user-index-header-buttons {
  padding-bottom: 20px;
  display: flex;
}

.user-index-new-story {
  height: 37px;
  border: 1px solid $darker-green;
  padding: 8px 16px;
  border-radius: 4px;
  color: #03a87c;
  margin-left: 8px;
  font-size: 13.5px;
  line-height: 20px;
  box-sizing: border-box;
}

.user-index-new-story:hover {
  color: $darker-green
}


// User Essay Nav Bar (Drafts/Published)

.user-index-nav-box {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.user-index-nav ul {
  margin-bottom: -1px;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}

.user-index-nav li {
  padding-bottom: 8px;
  margin-right: 20px;
  font-size: 13.5px;
  color: $mid-gray
}

.user-index-nav li:hover {
  color: $darker-gray;
}

// Active link for drafts/published NavLink
.user-index-tab {
  border-bottom: 1px solid rgba(0, 0, 0, 0.54);
  padding-bottom: 11px;
  color: $darker-gray;
}


// user Essay Index display

.user-essays-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.user-essays-list-container li {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.user-essay-index-item-super {
  word-wrap: break-word;
}

.user-essay-index-item-super h3 {
  max-height: 56px;
  letter-spacing: -4.75;
  font-size: 20px;
  line-height: 28px;
  font-weight: 800;
  color: rgba(0,0,0,.9);
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-essay-index-preview-box {
  margin-top: 4px;
}

.index-essay-preview {
  max-height: 48px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $mid-gray;
  letter-spacing: -.2px;
}

.user-essay-index-item-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  font-weight: 400;
  color: $mid-gray;
  max-width: 680px;
}

.user-essay-edit-count {
  font-size: 13px;
  line-height: 20px;
}

.user-essay-index-item-options {
  color: rgba(0,0,0,.46);
  height: 21px;
  // width: 100px;
  font-size: 12px;
  vertical-align: center;
  line-height: 20px;
  margin-left: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-weight: 100;
}

.user-essay-index-item-options button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-left: 30px;
  border: 1px solid darkred;
  color: darkred;
  border-radius: 4px;
  padding: 0px 4px;
}

.user-essay-index-item-options div {
  border-radius: 4px;
  padding: 0px 4px;
  border: 1px solid $darker-green;
  color: $light-green;
}

.delete-essay-button {
  // border: 1px solid $darker-green;
  // color: $light-green;
  // border-radius: 4px;
  // padding: 0px 4px;
}

// Utility dropdown

.utility-background {
  position: relative;
}

.utility {
  position: absolute;
  top: 10px;
  right: -60px;
  width: 120px;
  // max-width: 200px;
  border: 1px solid $lightest-gray;
  border-radius: 3px;
  padding: 8px 0;
  background-color: white;
  color: rgba(0,0,0,.6);
  font-size: 13px;
  font-weight: 400;
  box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35);
  text-align: left;
  overflow: auto;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.utility button {
  padding: 8px 20px;
}
